<div class="blog-preview">
  <h3><a href="/blog/{{id}}">{{title}}</a></h3>
  <p>By {{User.username}} on {{createdAt}}</p>
  <p>{{content}}</p>
  <a href="/blog/{{id}}" class="btn-primary">Read More</a>

  <form action="/blog/{{id}}/comments" method="POST">
    <div class="form-group">
      <label for="comment-text">Add a comment:</label>
      <textarea class="form-control" id="comment-text" name="text" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>